version: '3'

services:
  client:
    container_name: client
    build:
      context: ./client
      dockerfile: Dockerfile
    command: serve -s build -l 3000
    ports:
      - 3000:3000
    links:
      - api
    networks:
      - my_net 
  
  api:
    container_name: api
    build:
      context: ./server
      dockerfile: Dockerfile
    command: npm run start
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - DB=mongodb
    depends_on:
      - mongodb
    networks:
      - my_net

  mongodb:
    image: mongo
    container_name: mongodb
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    command: mongod
    networks:
      - my_net

networks:
  my_net:
    driver: bridge
